/**
Theme Name: 
Author: Scarlett Liu
Author URI: 
Description: 
License: 
License URI: 
Text Domain: 
Template: 
*/


/************************** 
    Common  
***************************/

/************************** 
    Font Face
***************************/

@font-face {
    font-family: "Gen-Sen-Rounded-Normal";
    src: url("/assets/fonts/GenSenRounded-R.ttc") format("truetype");
    font-weight: 400;
    line-height: 1.2em;
}

@font-face {
    font-family: "Gen-Sen-Rounded-Light";
    src: url("/assets/fonts/GenSenRounded-L.ttc") format("truetype");
    font-weight: 300;
    line-height: 1.2em;
}

@font-face {
    font-family: "Gen-Sen-Rounded-Medium";
    src: url("/assets/fonts/GenSenRounded-M.ttc") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Gen-Sen-Rounded-Medium";
    src: url("/assets/fonts/GenSenRounded-M.ttc") format("truetype");
    font-weight: 500;
}

/* @font-face {
    font-family: "Orbitron-Bold";
    src: url("./assets/fonts/Orbitron-Bold.ttf") format("truetype");
    font-weight: 700;
    unicode-range: U+0020-007E;
}

@font-face {
    font-family: "Orbitron-Medium";
    src: url("./assets/fonts/Orbitron-Medium.ttf") format("truetype");
    font-weight: 500;
    unicode-range: U+0020-007E;
}

@font-face {
    font-family: "Orbitron-Regular";
    src: url("./assets/fonts/Orbitron-Regular.ttf") format("truetype");
    font-weight: 400;
    unicode-range: U+0020-007E;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    unicode-range: U+0020-007E;
} 
*/


/************************** 
    Font
***************************/

h1{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 80px;
    line-height: 1.3em;
}

h2{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    line-height: 1.3em;
}

h3{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
    line-height: 1.3em;
}

p, p > a{
/*     font-family: "Orbitron", sans-serif; */
    font-family: 'poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

a{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 1024px){
    h1{
        font-size: 60px;
    }
    
    h2{
        font-size: 45px;
    }
    
    h3{
        font-size: 30px;
    }
    
    p, p>a{
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px){
    h1{
        font-size: 50px;
    }
    
    h2{
        font-size: 35px;
    }
    
    h3{
        font-size: 25px;
    }
    
    p,a, p>a{
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px){
    h1{
        font-size: 40px;
    }
    
    h2{
        font-size: 30px;
    }
    
    h3{
        font-size: 22px;
    }
    
    p, a, p>a{
        font-size: 14px;
    }
}


/************************** 
    Color & Text Style
***************************/

.t-primary{
    color: #2C455F;
}

.t-secondary{
    color: #10D2E1;
}

.t-accent{
    color: #FA8700;
}

a:link, a:visited{
    color: #2C455F;
}

a:hover, a:active{
    color: #10D2E1;
}

.t-center{
    text-align: center;
}

.border-primary{
    border: #2C455F solid 5px;
    border-radius: 20px;
}

.border-secondary{
    border: #2C455F solid 3px;
    border-radius: 20px;
}

.line-height-l{
    line-height: 1.4em;
}


/************************** 
    Layout
***************************/
.section > h2{
    margin-bottom: 50px;
}

.section{
    padding: 80px;    
    margin: 0 auto;
}

.t-underline{
    margin: 0px 15%;
    border-bottom: #2C455F solid 5px;
}

.rel{
    position: relative;
}

.abs{
    position: absolute;
}

.fixed{
    position: fixed;
}

@media only screen and (max-width:1024px){
    .section{
        padding: 35px 60px 20px;
    }    
}

@media only screen and (max-width:600px){
    .section{
        padding: 35px 20px 20px;    
    }    
    .t-underline{
        margin: 0px 10%;
    }
}

.flex{
    display: flex;
}

.flex-cc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}


.col{ /* 此 */
    /* flex-shrink: 1; */
}

.col-10{
    width: 10%;
}

.col-20{
    width: 20%;
}

.col-30{
    width: 30%;
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

.col-70{
    width: 70%;
}

.col-80{
    width: 80%;
}

.col-90{
    width: 90%;
}

.padding-l{
    padding: 40px;
}

.padding-m{
    padding: 20px;
}

.padding-s{
    padding: 10px;
}

img{
    max-width: 100%;
}

/************************** 
    Status
***************************/

.block{
    display: block;
}

.none{
    display: none;
}



/************************** 
    Header
***************************/

header{
    display: flex;
    width: 100%;
/*     background-color: #2C455F;
 */}

.nav-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-con{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.logo{
    color: #FCA311;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    font-size: 38px;
    padding: 17px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

nav a{
    font-size: 20px;
    margin: 0px 30px;
}

#toggle{
    display: none;
    font-size: 22px;
    left: 10%;
    justify-content: center;
    align-items: center;
}

#toggle:hover{
    cursor: pointer;
}



@media only screen and (max-width: 768px){
    .nav-container{
        flex-direction: column;
    }

    .logo-con{
        width: 100%;
        left: 10px;
    }

    .logo{
        font-size: 28px;
    }

    nav{/*flex-direction: column;*/      
        display: block;
        width: 100%;
        text-align: center;
        background-color: #fdf0d5;
    }

    nav a{
        display: block;
        padding: 10px;
        font-size: 14px;
        width: 100%;
        margin: 0 auto;
    }

    nav a:hover{
        background-color: #10D2E1;
        color: #fdf0d5;
    }
    
    #toggle{
        display: flex;
    }

    #menu{
        display: none;
    }
}



/************************** 
    Container, Page width
***************************/

.full-width-con{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width:2560px) {
    .full-width-con{
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
    }
}

.page-width-con{
    width: 1400px;
    margin: 0 auto;
}

/************************** 
    Hero Banner - bg 
***************************/

.hero-banner {
    height: 100%;
    width: 100%;
}

.hb1{
    background: url(/assets/images/home-1.jpg) center center no-repeat;
    background-position-y: -200px ;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.hb2{
    background: url(/assets/images/home-2.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.hb3{
    background: url(/assets/images/home-3.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.parallax{
    height: 250px;
    background-color: #fff;
    color: #2C455F;
}


/************************** 
    Banner 2 - img
***************************/

.banner-con img{
    width: 100%;
}

/* @media only screen and (min-width:1921px) {
    .display-xl{
        display: block;
    }
}
*/
@media only screen /* and (max-width:1920px)  */and (min-width:1025px) {
    .display-xl{
        display: block;
    }
}

@media only screen and (max-width:1024px) and (min-width:769px) {
    .display-l{
        display: block;
    }
}

@media only screen and (max-width:768px) and (min-width:601px){
    .display-m{
        display: block;
    }
}

@media only screen and (max-width:600px) {
    .display-s{
        display: block;
    }
}

/************************** 
    Home Page
***************************/

.section-primary{
    background: #fdf0d5;
}

.section-secondary{
    background: #10d3e160;
}

.section-white{
    background: #fff;
}
/*     background: #FA8700; */
/*     background: #10D2E1; */


.single-page-cards-section h3{
    font-size: 26px;
}

.sp-cards-con{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.sp-single-card{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px 30px;
}

.sp-single-card h3{
    display: none;
    z-index: 3;
}

.sp-img-con{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 350px;
    height: 350px;
}


.overlay{
/*     position: absolute; */
    width: inherit;
    height: inherit;
    border-radius: 20px;
}

/* Responsive */

.sp-single-card{
    width: 25%;
}
.sp-img-con{
    width: 400px;
    height: 400px;
}


@media only screen and (max-width:1920px){
    .sp-single-card{
        width: 33%;
    }
    .sp-img-con{
        width: 350px;
        height: 350px;
    }
}

@media only screen and (max-width:1440px){
    .sp-img-con{
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width:1024px){
    .sp-img-con{
        width: 180px;
        height: 180px;
    }
    .sp-single-card h3{
        font-size: 20px;
    }    
}

@media only screen and (max-width:820px){
    .sp-single-card{
        padding: 10px 20px;
        width: 49%;
    }

}


@media only screen and (max-width:600px){
    .sp-img-con{
        width: 200px;
        height: 200px;
    }
    .sp-single-card{
        padding: 10px 20px;
        width: 80%;
    }
    .sp-cards-con{
        padding: 0 10%;
    }
    .sp-single-card h3{
        font-size: 16px;
    }
}

/* Hover effect */

.sp-single-card a:hover h3{
    display: flex;
}

.sp-single-card a:hover .overlay{
    z-index: 2;
    background: #2C455F!important;
    opacity: 0.8;
}



/* About Me */

.about-me-con{
    margin: 50px 0px;
}

.about-me-img img{
    max-height: 600px;
}

.about-me-quali{
    padding: 5px 5%;
}

.quali-con{
    width: 50%;
    height: 300px;
    position: relative;
    left: 5%;
}

.quali-con p{
    padding: 4px;
}

.quali-con i{
    padding-right: 8px;
}

@media screen and (max-width:1200px){
    .about-me-img{
        width: 40%;
    }

    .about-me-content{
        width: 60%;
    }
}

@media screen and (max-width:900px){
    .about-me-con{
        flex-direction: column;
    }

    .about-me-img{
        width: 60%;
    }

    .about-me-content{
        padding-top: 30px;
        width: 100%;
    }

    .quali-con{
        width: 50%;
        height: 300px;
        position: relative;
        left: 0%;
    }
    
}

@media screen and (max-width:600px){
    .about-me-quali{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .about-me-con{
        margin: 20px 0;
    }

    .quali-con{
        height: 220px;
        width: 90%;
    }
}


/* Contact Me */







/************************** 
    Footer
***************************/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}




/************************** 
CSS guideline
    layout- col-4 col-8 , page-width-con full-width-con, .side, .content
    primary secondary accent  L M S
    container : grid card form
    components : btn input progress-bar a h1, p 
    status: focus, disabled, feedback, success, error   | link visited hover active
    base, btn, forms, grids, menus, tables
***************************/


/* 
#F2E0D2     淺粉紅
#D0604C     粉紅

#2C455F     深藍    
#10D2E1     淺藍
#fdf0d5     淡黃
#FA8700     橙
#2E2E2E     text

break pt: 
1024 820 768 600 425
*/